{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Valittavissa olevat kurssit</th>
    </tr>
    {% for c in courses %}
    <tr>
      <td>{{ c.name }}</td>
      <td>
          <form method="POST" action="{{ url_for('course_remove', course_id=c.id) }}">
            <button type="submit" class="btn btn-outline-danger">Poista</button>
          </form>
      </td>
      <td>
      <td>
        <form method="POST" action="{{ url_for('course_modifypage', course_id=c.id) }}">
            <button type="submit" class="btn btn-outline-warning">Muokkaa</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}