{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Kurssi</th>
      <th>Työtunnit</th>
    </tr>
    {% for h in course_hours %}
    <tr>
      <td><a href="{{url_for('hours_single', hours_id=h.id)}}">{{ h.course }}</a></td>
      <td>{{ h.time }}</td>
      <td>
          <form method="POST" action="{{ url_for('hours_remove', hours_id=h.id) }}">
            <button type="submit" class="btn btn-outline-danger">Poista</button>
          </form>
      </td>
      <td>
        <form method="POST" action="{{ url_for('hours_modifypage', hours_id=h.id) }}">
          <button type="submit" class="btn btn-outline-warning">Muokkaa</button>
        </form>
      </td>
    </tr>
    {% endfor %}
    <tr>
      <th>Statistiikkaa: </th>
    </tr>
    {% for s in list_sum %}
    <tr>
      <td>Työtunteja yhteensä: </td>
      <td>{{ s.sum }}</td>
    </tr>
    {% endfor %}
    <tr>
      <th>Tuntimäärä kursseittain:</th>
    </tr>
    {% for b in by_course %}
    <tr>
      <td>{{ b.kurssi }}</td>
      <td>{{ b.tunnit }}</td>
    </tr>
    {% endfor %}
    <tr>
      <th>Kurssit, joissa alle 27 tuntia:</th>
    </tr>
    {% for u in under %}
    <tr>
      <td>{{ u.kurssi }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}