{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Kurssi</th>
      <th>Työtunnit</th>
    </tr>
    {% for h in course_hours %}
    <tr>
      <td>{{ h.course }}</td>
      <td>{{ h.time }}</td>
      <td>
          <form method="POST" action="{{ url_for('task_remove', hours_id=h.id) }}">
            <input type="submit" value="Poista"/>
          </form>
      </td>
      <td>
        <form method="POST" action="{{ url_for('task_modifypage', hours_id=h.id) }}">
            <input type="submit" value="Muokkaa"/>
        </form>
      </td>
    </tr>
    {% endfor %}
    {% for s in list_sum %}
    <tr>
      <td><h5>Työtunteja kaikilla kursseilla yhteensä: {{ s.sum }}</h5></td>
    </tr>
    {% endfor %}
    {% for u in under_two %}
    <tr>
      <td><h5>Kursseja, joiden tuntimäärä alle 2: {{ u.under }}</h5></td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}