{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Kurssi</th>
      <th>Työtunnit</th>
    </tr>
    {% for h in tasks %}
    <tr>
      <td>{{ h.course }}</td>
      <td>{{ h.timeHours }}</td>
      <td>
          <form method="POST" action="{{ url_for('task_remove', hours_id=h.id) }}">
            <input type="submit" value="Poista"/>
          </form>
      </td>
      <td>
        <form method="POST" action="{{ url_for('task_modify', hours_id=h.id)}}">
           <input type="submit" value="Muokkaa"/>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}