{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('hours_create') }}">
  <table>
    <tr>
      <td>
        Kurssi:
      </td>
      <td>
        <select name="kurssi">
          {% for c in courses %}
            <option value={{ c.id }}>{{ c.name }}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
    <tr> 
      <td>
        {{ form.time.label }}
      </td>
      <td>
       {{ form.time }}
      </td>
      <td>
        <ul>
          {% for error in form.time.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td> 
    </tr>
    <tr>
      <td colspan="2">
        <button type="submit" class="btn btn-outline-primary">Lisää kirjaus</button>
      </td>
    </tr>
  </table>
</form>
{% endblock %}