{% extends "layout.html" %}

{% block body %}
{{ error }}
<form method="POST" action="{{ url_for('auth_register') }}">
  <table>
    <div class="form-group">
        <label for="uusi">{{ form.name.label }}</label>
        {{ form.name(class="form-control col-md-3") }}
    </div>
    <div class="form-group">
        <label for="uusi">{{ form.username.label }}</label>
        {{ form.username(class="form-control col-md-3") }}
    </div>
    <div class="form-group">
        <label for="uusi">{{ form.password.label }}</label>
        {{ form.password(class="form-control col-md-3") }}
    </div> 
  <tr>
    <td colspan="2">
      <button type="submit" class="btn btn-outline-primary">Rekisteröidy</button>
    </td>
  </tr>
  </table>
</form>
{% endblock %}